# Logs
*.log

# Trained Models
# .onnx is temporarily included for this submission to be runnable.
# In a real project, this would be downloaded from a model registry.
*.pt
*.joblib

# Python
__pycache__/
